[bookmark]

[jwt]
  secret = "{{secret}}"

[server]
  address = ":8082"
  dumpRouterMap = false
  debug = false

[logger]
  level = "info"

[database.logger]
  level = "info"
  stdout = true

[database.default]
  debug = false
  # link = "mysql:root:root@tcp(127.0.0.1:3306)/db?charset=utf8mb4&parseTime=True&loc=Local"
  link = "sqlite::@file(./bookmark.sqlite3)"

