@tailwind base;
@tailwind components;
@tailwind utilities;



body{

}


#app{
  background-image: radial-gradient(hsla(0 0% 94.902%/.2) .5px,hsla(0 0% 94.902%/1) .5px);
  background-size: 5px 5px;
  height: 100vh;

}

/*#bg{*/
/*  position: absolute;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right:0;*/
/*  filter: blur(1px);*/
/*  background-color: unset !important;*/
/*  background: url(https://api.timecdn.cn/v1/bing) no-repeat center center fixed;*/
/*  z-index: 0;*/
/*}*/
