
#app{
  /*background-size: 5px 5px;*/
  /*background: url("https://picdl.sunbangyan.cn/2023/11/15/c6e9fcce5a92e1428c44c4cc1d5db298.jpg") no-repeat center center;*/
  background-size: cover;
  min-height: 100vh;

  backdrop-filter: blur(4px);
  background: #47918a radial-gradient(ellipse at center, #47918a 0%, #0b3161 100%);
}

.ant-layout{
  background: transparent;
}

.ant-breadcrumb{
  /*filter: invert(100%);*/
  filter: invert(1) grayscale(1) contrast(9);
  font-weight: bold;
}

.ant-menu-dark{
  background: transparent;
}
